
body{
  font-family:Arial;
  margin:0;
  background:#f4f4f4;
  color:#333
}

header{
  background:#1e90ff;
  color:white;
  padding:40px;
  text-align:center
}

header h1{
  margin:0;
}
    
.btn{
  background:white;
  color:#1e90ff;
  padding:12px 25px;
  border-radius:5px;
  text-decoration:none;
  font-weight:bold
}

section{
  padding:40px;
  max-width:900px;
  margin:auto;
}

.projet{
  background:white;
  padding:20px;
  margin:20px 0;
  border-radius:10px;
  box-shadow:0 2px 5px rgba(0,0,0,0.1);
}
.projet a{
  color:#1e90ff;
  font-weight:bold;
}

footer{
  text-align:center;
  padding:20px;
  background:#333;
  color:white;
}

/* CARTES PROJETS STYLE BANNIERE */
.projet, .card {
  background: white;
  border-radius: 10px;
  padding: 0; /* important: pas de padding pour que l'image colle */
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow: hidden; /* pour arrondir l'image */
}

.projet img, .card img {
  width: 100%;        /* Prend toute la largeur */
  height: 160px;      /* Hauteur de bannière */
  object-fit: cover;  /* Etire sans déformer */
  display: block;
}

/* Le texte en dessous de l'image */
.projet h3, .projet p, .projet a {
  padding: 15px 15px 5px 15px;
}
.projet a {
  padding-bottom: 15px;
  display: inline-block;
}